CONFIG_SYSVIPC=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_VT=y
CONFIG_NULL_TTY=y
CONFIG_DEVTMPFS=y
# CONFIG_LTO_CLANG_FULL=y will fail without a LOT of RAM
CONFIG_LTO_CLANG_THIN=y
# bluebinder - BT/RFCOMM/HIDP/RFKILL are GKI modules (module_outs), keep modular
CONFIG_BT=m
CONFIG_BT_RFCOMM=m
CONFIG_BT_HIDP=m
# HCIVHCI is not a GKI module; keep built-in for bluebinder /dev/vhci
CONFIG_BT_HCIVHCI=y
CONFIG_RFKILL=m
# Do not enforce kernel modules signature
# CONFIG_MODULE_SIG_FORCE is not set
# CONFIG_MODULE_SIG_PROTECT is not set

# AppArmor
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_LSM="landlock,lockdown,yama,loadpin,safesetid,integrity,apparmor,selinux,smack,tomoyo,bpf"

# Waydroid
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,anbox-binder,anbox-hwbinder,anbox-vndbinder"
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
# Snap
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZSTD=y
# FIXME: breaks GKI ABI somehow, needed by some snaps like btop & qtcreator
#CONFIG_CGROUP_DEVICE=y

# Docker
CONFIG_POSIX_MQUEUE=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y

# LXD
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_NAT=y
CONFIG_IP6_NF_FILTER=y
CONFIG_IP6_NF_NAT=y

# ALSA MIDI
CONFIG_SND_SEQUENCER=y
